<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">

<div th:fragment="headerTitle">
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fas fa-baby"></i>
            <a href="" th:href="@{/main}" >코린이 대피소</a>
        </div>

        <ul class="navbar_menu" >
            <div class="dropdown" id="app">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        v-on:click="showname">
                    언어게시판
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
                    <div class="titleview1" v-for="category in categories">
<!--                        <li><a v-bind:href="`/board?id=${category.id}`">{{category.title}}</a></li>-->
                        <li><a v-bind:href="'/board?id=' + category.id">{{category.title}}</a></li>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu2"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    에러모음집
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="" th:href="@{/board(id=1)}">C언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">A언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">B언어</a></li>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu3"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Best게시글
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="" th:href="@{/board(id=1)}">C언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">A언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">B언어</a></li>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu4"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    취업정보
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
                    <li><a href="" th:href="@{/board(id=1)}">C언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">A언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">B언어</a></li>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu5"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    연구/회사원
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                    <li><a href="" th:href="@{/board(id=1)}">C언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">A언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">B언어</a></li>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button" id="dropdownMenu6"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    Q&A
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu6">
                    <li><a href="" th:href="@{/board(id=1)}">C언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">A언어</a></li>
                    <li><a href="" th:href="@{/board(id=1)}">B언어</a></li>
                </div>
            </div>
<!--            <li><a href="" th:href="@{/board(id=1)}">언어게시판</a></li>-->
<!--            <li><a href="" th:href="@{/board(id=2)}">에러 모음집</a></li>-->
<!--            <li><a href="" th:href="@{/board(id=3)}">Best 게시글</a></li>-->
<!--            <li><a href="" th:href="@{/board(id=4)}">취업 정보</a></li>-->
<!--            <li><a href="" th:href="@{/board(id=5)}">연구/회사원</a></li>-->
<!--            <li><a href="" th:href="@{/board(id=6)}">Q&A</a></li>-->
        </ul>
        <ul class="navbar_icons">
            <li><a href="" th:href="@{login}"><i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="" th:href="@{Google}"><i class="fab fa-google"></i></a></li>
            <li><a href="" th:href="@{Github}"><i class="fab fa-github"></i></a></li>
        </ul>
        <a href="#" class = "navbar_toogleBtn">
            <i class="fas fa-list"></i>
        </a>
    </nav>

    <ul class="skipnavi">
        <li><a href="#container" >본문내용</a></li>
    </ul>

    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data:{
                categories: []
            },
            methods : {
                showname : function (){
                    var self = this;
                    axios.get('http://localhost:8080/category/title')
                        .then(function (response){
                            console.log(response)
                            self.categories = response.data
                            console.log(self.categorys)
                        })
                        .catch(function (error){
                            self.categories = '에러! '+  error
                        })
                }
            }
        })
    </script>
</div>
</html>