:root {
    --logo-color:black;
    --text-color:#a3a5a8;
    --background-color:#efeffa; 
    --accent-color:#a3a5a8;
    --hover-color:#a3a5a8;
    --toggle-color:#c0c0c0;
}

body {
    margin:0;
    font-family: 'Source Sans Pro';
}

a{
    text-decoration:none;
    color:var(--logo-color);
}


.background_area.customer{
    height: 445px;
    background: url(../img/background.png) no-repeat center bottom;
    background-size: 100% 100%;
}

.nav.navbar{
    padding-bottom:0px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding:8px 1px;
}

.navbar_logo{
    font-size:24px;
    padding : 0px 12px 0px 12px;
}

.navbar_logo i{
    color:var(--logo-color);
}

.navbar_menu{
    display:flex;
    align-items: center;
    position:relative;
    list-style: none;
    padding-left: 0;
}


.navbar_menu li {
    padding: 10px 12px 0px 12px;
}

.navbar_menu li:hover{
    background-color: var(--hover-color);
    border-radius:4px;
}

.navbar_icons{
    list-style:none;
    padding: 8px 12px;
    display:flex;
    padding-left:0;
}
.loginarea{
    margin-top: 10px;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_icons li:hover {
    background-color: var(--hover-color);
    border-radius:4px;
}

.navbar_toogleBtn{
    display:none;
    position:absolute;
    right:32px;
    font-size:24px;
    color : var(--toggle-color);
}

/*첫 화면 */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
* {
    font-family : 'Nanum Gothic';
}
h1 {
    font-family : 'Hanna';
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    /*border: 1px solid black;*/
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
//color: red;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
//color: red;
}

dropdown-toggle{
    font-size:15px;
}
.btn{
    font-size:13px;
    /*margin : 10px;*/
    font-weight: bold;
    padding: 15px 12px;
    text-align:center;
    margin-top: 7px;
}
a{
    font-weight : bold;
}

.form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}

.write{
    float:right;
}
.profile-content{
    font-size:20px;
    position:relative;
    padding : 10px;
}

.search{
    position:relative;
    box-sizing: border-box;
    height: auto;
    padding: 15px;
    margin:15px;
    font-size: 16px;
}
.boardlist{
    padding: 15px 0px 15px 0px;
    margin:10px 0px 10px 0px;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.profile {
    overflow:auto;
    display:block;
    position:absolute;
}
/*배경화면*/

/*순위글*/
.board_main {
    align-items: center;
    position:relative;
    margin-bottom: 20px;
    padding-bottom:20px;
}
.board_main .left h3{
    background-color: #b12e30;
}
.board_main .right h3{
    background-color: #393939;
}
.board_main h3{
    height:42px;
    line-height:42px;
    color:#fff;
    padding-left:24px;
}
.board_main .postbox{
	float:left;
	width:50%;
    padding : 0px 0px 10px 0px;
}

.board_main .left
.bm_list{
	background-color:#ebebeb;
	padding: 24px 24px 24px 14px;
}
.ranking li {
    padding : 8px 12px;
}
.board_main .right
.bm_list{
	background-color:#f3f3f3;
	padding: 24px 24px 24px 14px;
}
.board_main .ranking
.num {
    color:#b12e30;
    font-weight:bold;
}
.ranking li .num{
    display:inline-block;
    width : 30px;
    text-align:center;
}



@media screen and (max-width:768px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .loginarea{
        display: none;
    }
    .navbar_menu {
        display:none;
        flex-direction: column;
        align-items: center;
        width : 100%;
    }
    .navbar_logo {
        padding: 10px 12px;
    }
    .navbar_menu li {
        width: 100%;
        text-align:center;
    }

    .navbar_icons {
        display:none;
        justify-content:center;
        width : 100%;
    }
    .navbar_toogleBtn{
        display: block;
        padding: 8px 12px;
    }

    .navbar_menu.active,
    .navbar_icons.active {
        display:flex;
    }
}

