<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="answerlist(Answer,Answers)">

    <form action="" th:action="@{/board/view/answer}" th:method="Post" th:object="${Answer}">
        <div class="near_list">
            <h4><span class="text-right" th:text="${Answer.nickname}">사용자 이름 </span>
                <span> &nbsp;&nbsp; | &nbsp;&nbsp; </span>
                <span class="text-center" th:text="${#calendars.format(#calendars.createNow(),'yyyy-MM-dd')}">댓글 시간</span></h4>
            <p>
                <input type="hidden" th:field="*{nickname}">
                <input type="hidden" th:field="*{Board}">
            <li><input type="text" class="form-control" style="width: 858px;border-color: #6f788B"
                       th:field="*{answerText}">
                <button type="submit" class="btn_bbs" >확인</button></li>
            </p>
        </div>

    </form>

    <br><br><br>

    <div class="d-sm-flex justify-content-between text-center">
        <p class="comment-count" ><span class="align-middle"><i class="fa fa-comment"></i>
                    </span><span th:text="${#lists.size(Answers)}"></span> Comments</p>
    </div>

    <div class="near_list" th:each="answer : ${Answers}">
        <h4 style="font-size: 1.5em"><span class="text-right" th:text="${answer.nickname}">사용자 이름 </span>
            <span> &nbsp;&nbsp; | &nbsp;&nbsp; </span>

            <span class="text-center" th:text="${answer.registeredAt}">댓글 시간</span></h4>
        <li style="font-size: 1.2em"><a th:text="${answer.answerText}">aaa</a>
<!--            <button id="answer" class="fa fa-reply" v-on:click="answer"-->
<!--                    style="border: 0;outline: 0;"-->
<!--                    th:value="${answer.id}"><a>답변</a></button></li>-->
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" th:src="@{//cdn.jsdelivr.net/npm/vue/dist/vue.js}"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js" th:src="@{//unpkg.com/axios@0.12.0/dist/axios.min.js}"></script>


</html>