<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<footer th:fragment="footer">
    <div class="foot_area box_inner">
        <ul class="foot_list clear">
            <li><a href="javascript:;">이용약관</a></li>
            <li><a href="javascript:;">개인정보취급방침</a></li>
        </ul>
        <h2>코린이 대피소</h2>
        <p class="addr">서울특별시 서초구 효령료 335, 1층 플레이데이터 <span class="gubun">/</span>
            <span class="br_line">대표전화 <span class="space0">02-1234-5678</span> <span class="gubun">/</span>
					<span class="br_line">E-mail : <span class="space0"> corin@corinshelter.com</span></span>
				</span>
        </p>
        <p class="copy box_inner">Copyright(c) CorinShelter all right reserved</p>
        <ul class="snslink clear">
            <li><a href="javascript:;">blog</a></li>
            <li><a href="javascript:;">facebook</a></li>
            <li><a href="javascript:;">instargram</a></li>
        </ul>
    </div>
</footer>

</html>