<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">


<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>코린이대피소</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon2.png" th:href="@{img/favicon2.png}">
    <title> 게시판 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com" th:href="@{//fonts.gstatic.com}">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap" th:href="@{//fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap}" rel="stylesheet">
    <script
            src="https://kit.fontawesome.com/2d323a629b.js" th:src="@{//kit.fontawesome.com/2d323a629b.js}"
            crossorigin = "anonymous"
    ></script>
    <link rel="stylesheet" href="css/common.css" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="css/custom.css" th:href="@{/css/custom.css}">

    <script src="/js/jquery-1.11.3.min.js" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script src="/js/common.js" th:src="@{/js/common.js}"></script>
    <script src="/js/jquery.smooth-scroll.min.js" th:src="@{/js/jquery.smooth-scroll.min.js}"></script>

    <script src = "/js/main.js" th:src="@{/js/main.js}" defer></script>

    <!--[if lte IE 9]>
    <script src="/js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="/js/placeholders.min.js" th:src="@{/js/placeholders.min.js}"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" th:src="@{//code.jquery.com/jquery-3.1.1.min.js}"></script>
    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="css/starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>
</html>