<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="bestmonthboard">
    <div class = "postbox right">
        <h3>월간 인기</h3>
        <div class="bm_list">
            <ul class = "ranking">
                <li>
                    <span class="num">1</span>
                    <a href="board/view">개발자가 갖추어야 할 9가지 기술</a>
                </li>
                <li>
                    <span class="num">2</span>
                    <a href="board/view">알고리즘과 자료구조 파헤치기</a>
                </li>
                <li>
                    <span class="num">3</span>
                    <a href="board/view">CS 기술 면접 가이드</a>
                </li>
                <li>
                    <span class="num">4</span>
                    <a href="board/view">애자일 방법론의 기초</a>
                </li>
                <li>
                    <span class="num">5</span>
                    <a href="board/view">클린코드 그리고 리팩토링</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>