<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="bestweekboard(weekview)">
    <div class = "postbox left">
        <h3>주간 인기</h3>
        <div class="bm_list">
            <ul class = "ranking" th:each="eachview,num : ${weekview}">
                <li>
                    <span class="num" th:text="${num.count}">1</span>
                    <a href="" th:href="@{/board/view(id=${eachview.id})}" th:text="${eachview.title}">개발자가 갖추어야 할 9가지 기술</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</html>