<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="boardlist(lists,findid)">
    <form action="#" class="minisrch_form">
        <fieldset>
            <legend>검색</legend>
            <input type="text" class="tbox" title="검색어를 입력해주세요" placeholder="검색어를 입력해주세요">
            <a href="javascript:;" class="btn_srch">검색</a>
        </fieldset>
    </form>
    <table class="bbsListTbl" summary="번호,제목,조회수,작성일 등을 제공하는 표">
        <caption class="hdd">공지사항  목록</caption>
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="list,num : ${lists}" >
            <td class="tit_notice" th:text="${num.count}">number</td>
            <td class="tit_notice"><a href="" th:href="@{board/view(id=${list.id})}" th:text="${list.title}">Otto</a></td>
            <td class="tit_notice" th:text="${list.nickname}">홍길동</td>
            <td class="tit_notice" th:text="${list.updatedAt}">홍길동</td>
            <td class="tit_notice" th:text="${list.viewBoard}">홍길동</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page" th:classappend="${1 == lists.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#"
                   th:href="@{/board(id=${findid.category.id},page=${lists.pageable.pageNumber - 1})}"
                   tabindex="-1" aria-disabled="true"> < </a>
            </li>
            <li class="page" th:classappend="${i == lists.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" href="#" th:href="@{/board(id=${findid.category.id},page=${i - 1})}" th:text="${i}">페이지번호 입력됨</a>
            </li>
            <li class="page" th:classappend="${lists.totalPages == lists.pageable.pageNumber + 1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/board(id=${findid.category.id},page=${lists.pageable.pageNumber + 1})}"> > </a>
            </li>
        </ul>
    </nav>
    <div class="text-right">
        <a type="button" class="btn btn-primary" th:href="@{/board/form(id=${findid.id},name=write)}">쓰기</a>
    </div>
    <!-- //pagination -->
</div>
</html>