<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<div th:fragment="best(title)">
    <div th:if="${title.category.categorytable.id}==1">
        <div class="location_area back" style="background: url('/img/language.jpg') no-repeat center  / cover;">
            <div class="box_inner">
                <h2 class="tit_page" style="color: black;text-shadow: 0 0 1px white;">코린이 대피소 In
                    <span th:text="${title.category.title}">코린이 대피소</span>
                </h2>
            </div>
        </div>
    </div>
    <div th:if="${title.category.categorytable.id}==2">
        <div class="location_area back" style="background: url('/img/error.jpg') no-repeat center / cover;">
            <div class="box_inner">
                <h2 class="tit_page" style="color: black;text-shadow: 0 0 1px white;">코린이 대피소 In
                    <span th:text="${title.category.title}">코린이 대피소</span>
                </h2>
            </div>
        </div>
    </div>
    <div th:if="${title.category.categorytable.id}==3">
        <div class="location_area back" style="background: url('/img/job.jpg') no-repeat center/ cover;">
            <div class="box_inner">
                <h2 class="tit_page" style="color: black;text-shadow: 0 0 1px white;">코린이 대피소 In
                    <span th:text="${title.category.title}">코린이 대피소</span>
                </h2>
            </div>
        </div>
    </div>
    <div th:if="${title.category.categorytable.id}==4">
        <div class="location_area back" style="background: url('/img/develope.jpg') no-repeat center / cover;">
            <div class="box_inner">
                <h2 class="tit_page" style="color: black;text-shadow: 0 0 1px white;">코린이 대피소 In
                    <span th:text="${title.category.title}">코린이 대피소</span>
                </h2>
            </div>
        </div>
    </div>
    <div th:if="${title.category.categorytable.id}==5">
        <div class="location_area back" style="background: url('/img/Q&A.jpg') no-repeat center / cover;">
            <div class="box_inner">
                <h2 class="tit_page" style="color: black;text-shadow: 0 0 1px white;">코린이 대피소 In
                    <span th:text="${title.category.title}">코린이 대피소</span>
                </h2>
            </div>
        </div>
    </div>
</div>

</html>