<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head Start-->
<div th:replace="fragment/head :: head"></div>
<!-- head End-->

<div th:replace="fragment/headerTitle ::headerTitle"></div>

<body class = "bg-light">

<div class="container" >
    <div class="row mt-5 justify-content-center">
<!--        <div class="col-2">-->
<!--            &lt;!&ndash; Avatar &ndash;&gt;-->
<!--            <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"-->
<!--                 th:data-jdenticon-value="${account.nickname}" width="125" height="125"></svg>-->
<!--            <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"-->
<!--                 th:src="${account.profileImage}"-->
<!--                 width="125" height="125"/>-->
<!--        </div>-->
<!--        <div class="col-8">-->
<!--            <h1 class="display-4 " th:text="${account.username}">Whiteship</h1>-->
<!--            <p class="lead" th:if="${!#strings.isEmpty(user.bio)}" th:text="${user.bio}">bio</p>-->
<!--            <p class="lead" th:if="${#strings.isEmpty(user.bio) && isOwner}">-->
<!--                한 줄 소개를 추가하세요.-->
<!--            </p>-->
<!--        </div>-->
    </div>

    <div class="row mt-3 justify-content-center">
        <div class="col-4">
            <a th:href="@{/main}"><img src="/img/logo_sub.png" alt="" width="160" height="160"></a>
        </div>
        <div class="col-8">
            <div class = "profile-content">
                <p th:if="${isOwner}">
                    <span>
                        <i class="fas fa-signature"></i>
                    </span>
                    <span th:text="${account.username}" class="col-9"></span>
                </p>
                <p th:if="${isOwner}">
                    <span>
                        <i class="fas fa-id-card"></i>
                    </span>
                    <span th:text="${account.identity}" class="col-9"></span>
                </p>
                <p th:if="${isOwner}">
                    <span>
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <span th:text="${account.email}" class="col-9"></span>
                </p>
                <p th:if="${isOwner}">
                    <span>
                        <i class="fa fa-calendar-o"></i>
                    </span>
                    <span th:if="${!account.enabled}" class="col-9">
                            <a href="#"  th:href="@{'/checkemail?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                        </span>
                    <span th:text="${#temporals.format(account.createdAt, 'yyyy년 M월 가입')}" class="col-9"></span>
                </p>
                <br>
                <div th:if="${isOwner}">
                    <a class="btn btn-secondary" href="#" th:href="@{/settings/account}">닉네임 변경</a>
                    <a class="btn btn-primary" href="#" th:href="@{/settings/password}">비밀번호 변경</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragment/footer"/>
<div th:replace="fragment/sideMenu"/>
</body>
</html>




