<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- head Start-->
<div th:replace="fragment/head :: head"></div>

<!-- head End-->

<div th:replace="fragment/headerTitle ::headerTitle"></div>

<div class="py-5 text-center">
    이메일 인증 후 로그인을 해주세요.
    <h2><span th:text="${nickname}">abd@email.com</span> 이메일 인증 재요청</h2>
    <p th:text="${email}"></p>
    <a class="btn btn-primary" role="button" th:href="@{'/request-emailValidateToken'}">이메일 재요청</a>
</div>

<div th:replace="fragment/footer"/>
<div th:replace="fragment/sideMenu"/>
</body>
</html>
