<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">

<!-- head Start-->
<div th:replace="fragment/head :: head">head</div>
<!-- head End-->

<body>
<!--header Start-->
<div th:replace="fragment/headerTitle ::headerTitle">header</div>
<!--header End-->

<!-- wrap -->
<div id="wrap">
    <div id="container">
        <!-- location_area -->
        <div th:replace="fragment/board/boardTitle :: best(${category})"></div>
        <!-- //location_area -->

        <!-- bodytext_area -->
        <div class="bodytext_area box_inner">
            <ul class="bbsview_list">
                <form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <li class="bbs_title">
                            <label ><span th:text="제목 "></span> :
                                <input type="text" class="form-control" th:field="*{title}"
                                       th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
                                       placeholder="제목을 입력해주세요" aria-describedby="nicknameHelp" required minlength="1">
                            </label>
                        </li>
                    </div>
                    <li class="bbs_hit">
                        <label><span th:text="작성자 "></span> :  <span th:text="*{nickname}">로그인 유저</span></label>
                    </li>
                    <input type="hidden" th:field="*{nickname}">
                    <input type="hidden" th:field="*{user}">
                    <li class="bbs_hit">
                        <label><span th:text="Category "></span> :
                            <input type="hidden" th:field="*{category.id}" th:text="*{category.title}" readonly="readonly" >
                        </label>
                    </li>
                    <input type="hidden" th:field="*{category}">
                    <li class="bbs_content">
                        <div class="editer_content">
                            <textarea class="form-control" style="resize: none; font-size: medium;" cols="120" rows="30" th:field="*{contents}"
                                th:classappend="${#fields.hasErrors('contents')} ? 'is-invalid'"
                                placeholder="ps.주소를 적을 때 명확하게 입력해주세요 ex)http:,https:"
                                      aria-describedby="nicknameHelp" required minlength="1">
                            </textarea>
                            <div style="color: rgb(223, 70, 85); font-size: 80%;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                                제목 에러 메시지
                            </div>
                            <div style="color: rgb(223, 70, 85); font-size: 80%;"  th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
                                제목 에러 메시지
                            </div>
                        </div>
                    </li>
                    <p class="btn_line txt_right">
                        <a href="" th:href="@{/board(id=*{category.id},page=0)}" class="btn btn-primary">취소</a>
                        <a></a>
                        <button type="submit" class="btn btn-primary">확인</button>
                    </p>
                </form>
            </ul>
        </div>
        <!-- //bodytext_area -->

    </div>
    <!-- //container -->

    <div th:replace="fragment/footer"/>

</div>
<!-- //wrap -->

<div th:replace="fragment/sideMenu"/>

</body>
</html>
